body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 32px;
    color: rgba(208, 14, 14, 0.799);
}

.chamada {
    background: rgb(184 106 226);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: %px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 05 ;
     height: 200px ;
}

.categoria-videos img:hover {  
    opacity: 1.0 ;
    border: 1px solid red; 
    }

    .categoria h2 {
        color:rgba(208, 14, 14, 0.799); 
    }